html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.navbar {
  margin-bottom: 0;
}

.special,
.special .jumbotron {
  height: 100%;
  margin: 0;
  background-color: transparent;
}

.container-fluid {
  height: 100%;
  background-color: black;
}

.viewerLabel {
  text-align: right;
  color: grey;
}

.viewer {
  height: 100%;
}
